
@media screen and (max-width:400px) {
  body {
   background-color:#E4E5EF;
   font-size: 14px;
  }
}


/*para telas de ate 600px*/

@media screen and (min-width:401px) and (max-width:600px) {
  body{
    background-color: #E4E5EF;
    font-size: 16px;
  } 
}


/*Para telas de ate 850px */

@media screen and (min-width:601px) and (max-width:850px) {
  body{
    background-color:#E4E5EF;
    font-size: 18px;

  }
}


body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}




header {
  background-color:gray;
  padding: 10px 50px;
  width: 100%;
  margin-top: -35px;
  margin-left: -20px;
}

footer {
  background-color:gray;
  color:#D9D9D9;
  padding: 10px 50px;
  text-align: center;
  width:100%;
  margin-bottom: -35px;
  margin-left: -20px;
}











.menu-superior {
 display:flex;
 justify-content: space-between;
 align-items: center;
 background-color: #B4b3df;
 color: aqua;
 padding: 8px;

}

.menu-superior .pastas {
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
}

.menu-superior .barra-pesquisa {
flex-grow: 1;
margin: 0 20px;
padding: 5px;
border-radius: 4px;
border: none;

}


.barra-pesquisa {
 flex-grow: 1;
 margin: 0 20px;
 padding: 5px;
 border-radius: 4px;
 border: 2px solid gray;
 box-shadow: 0 0 5px rgba(0,0,0, 0.1);
}

.barra-pesquisa:focus {
  border-color: #B4b3df;
  outline: none;
}


.menu-superior .configuracoes{
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  margin: 0 10px;
}


.conteudo-principal {
  background-color: #E4E5EF;
  min-height: 500px;
}


.menu-inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B4b3df;
  padding: 10px;
  position: relative;
}

.menu-item {
position: relative;
display: flex;
justify-content: center;
align-items: center;


}

.menu-inferior .calendario {
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  z-index: 1;
}


.menu-inferior .relogio {
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  z-index: 1;
}



.menu-inferior .lista-tarefas {
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  z-index: 1;
}



.menu-inferior .adicionar{
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  z-index: 1;
}




.menu-inferior .progresso {
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  z-index: 1;
}




.menu-inferior .notas{
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  z-index: 1;
}




.menu-inferior .ocultar{
  color: aqua;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  z-index: 1;
}


.circulo {
width: 140px;
height: 105px;
background-color:#E4E5EF;
border-radius: 50%;  /*faz o circulo ficar redondo*/
position: absolute;
z-index: 0;  /*garante que o circulo fique atras do icone*/
bottom: 0;   /*posiciona o circulo na parte inferior*/

}